@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i");

#wrapper2{
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    box-sizing: border-box;
    display: flex;
    height: 80vh;
    width: 100vh;
    font-family: "popoins",'Times New Roman', Times, serif;
}

.container{
    max-width:850px ;
    width: 100%;
    box-shadow: 0 0 5px 1px rgba(33, 49, 64, 0.5);
    padding: 2rem;
    color:000;
    border-radius: 5px;
    background-color: #96f4d9;
    transition: all 0.6s ease-in;   
}

.container-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .btn{
    border: none;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    outline: none;
    font-size: 0.9rem;
    background-color: #42655b;
    border-radius: 10px;
    color: #fff;
    font-family: inherit;
    transition: 0.2s ease-in-out;
}

.container .btn:focus{
    transform: scale(0.98);
    outline: none;
}
.container .btn:hover{
    color:rgb(104, 220, 220);
}

.container h2{
    text-align: center;
    font-size: 35px;
    margin: 1rem 0;
}

.hide_num{
    text-align: center;
    font-size: 3rem;
    background-color: #10211c;
    border-radius: 10px;
    width:25%;
    margin: 0 auto;
    color:#fff;

}

.message{
    text-align: center;
    font-size: 1.3rem;
    margin: 1rem 0;
}

.number_data{
display: flex;
justify-content: space-between;
align-items: center;
margin:3rem 0;
}

.number_data input{
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 0.8rem;
    font-size: 1.2rem;
    border:1px solid #ddd;
}

.number_data button{
    margin-top: 1rem;
    display: block;
}

